@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.App {
  height: 100vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
    url(../images/img_4.jpg);
  background-attachment: fixed;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  position: relative;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  height: 15vh;
  margin: 24px;
}

.middle-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.middle-div .btn {
  opacity: 0;
  pointer-events: none;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
}

.bottom-div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: end;
  /* display: flex;
  align-items: center;
  justify-content: flex-end; */
}

.bottom-div img {
  height: 54px;
  margin: 24px;
}

/* Percentage CSS */
#progressInput {
  margin: 20px auto;
  width: 30%;
}

.circle-background,
.circle-progress {
  fill: none;
}

.circle-background {
  stroke: #f2f2f2;
}

.circle-progress {
  stroke: #ff9e00;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle-text {
  font-size: 2.5em;
  font-weight: 900;
  fill: #ff9e00;
}

.circle-background-full {
  stroke: red;
}

.circle-progress-full {
  stroke: yellow;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle-text-full {
  font-size: 2.5em;
  font-weight: bold;
  fill: rgb(255, 238, 1);
}

@media (max-width: 510px) {
  header img {
    height: 10vh;
  }

  .middle-div .btn {
    opacity: 1;
    pointer-events: visible;
  }
}
